<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
     PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
     "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<environments default="kekorea">
		<environment id="dev">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.OracleDriver"></property>
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:wind"></property>
				<property name="username" value="wcadmin"></property>
				<property name="password" value="wcadmin1"></property>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="config/midas/myBatis/query/if_ekms-query.xml"></mapper>
		<mapper resource="config/midas/myBatis/query/milestone-query.xml"></mapper>
		<mapper resource="config/midas/myBatis/query/user-query.xml"></mapper>
	</mappers>
</configuration>
     