@charset "UTF-8";

div.line_layer {
	/* 	border: 1px solid red; */
	width: 100%;
	height: 550px;
}

table#line_main_table {
	width: 100%;
}

td.line_top_td {
	min-width: 334px !important;
	width: 334px !important;
	max-width: 334px !important;
}

table#user_left_table {
	border-top: 2px solid #2b85c1;
	width: 100%;
	font-size: 14px;
/* 	display: none; */
	/* 	width: 300px !important; */
}

table#user_left_table tr:first-child td {
	text-align: center;
	background-color: #73aff9;
	height: 26px;
	line-height: 36px;
	/* 	letter-spacing: 1px; */
	/* 	padding-bottom: 4px; */
	color: white;
	font-weight: bold;
	font-size: 16px !important;
	cursor: pointer;
	color: white;
	cursor: pointer;
	/* 	border-radius: 4px; */
}

table#user_left_table tr td:first-child {
	border-left: 1px solid #c8c8c8;
	height: 30px;
	line-height: 30px;
	padding: 5px;
}

table#user_left_table select#userLineList {
	height: 453px;
	width: 100%;
}

table#org_left_table select#userDeptList {
	height: 185px;
	width: 100%;
}

table#user_left_table tr:first-child td:hover {
	background-color: #1e88e5;
}

table#user_left_table tr td {
	border-right: 1px solid #c8c8c8;
	border-bottom: 1px solid #c8c8c8;
}

table#org_left_table {
	border-top: 2px solid #2b85c1;
	width: 100%;
	font-size: 14px;
	display: none;
	/* 	width: 300px !important; */
}

table#org_left_table tr:first-child td, table#line_left_table tr:first-child td, table#user_left_table tr:first-child td {
	text-align: center;
	background-color: #73aff9;
	height: 36px;
	min-height: 36px;
	line-height: 36px;
	/* 	letter-spacing: 1px; */
	/* 	padding-bottom: 4px; */
	color: white;
	font-weight: bold;
	font-size: 16px !important;
	cursor: pointer;
	color: white;
	cursor: pointer;
	/* 	border-radius: 4px; */
}

table#org_left_table tr td:first-child {
	border-left: 1px solid #c8c8c8;
	/* 	height: 30px; */
	/* 	line-height: 30px; */
	padding: 5px;
}

table#line_left_table {
	border-top: 2px solid #2b85c1;
	width: 100%;
	font-size: 14px;
	display: none;
	/* 	width: 300px !important; */
}

table#line_left_table tr:first-child td {
	text-align: center;
	background-color: #73aff9;
	height: 36px;
	line-height: 36px;
	min-height: 36px;
	/* 	letter-spacing: 1px; */
	/* 	padding-bottom: 4px; */
	font-weight: bold;
	font-size: 16px !important;
	cursor: pointer;
	color: white;
	cursor: pointer;
	/* 	border-radius: 4px; */
}

table#line_left_table tr td:first-child {
	border-left: 1px solid #c8c8c8;
	height: 30px;
	line-height: 30px;
	padding: 5px;
}

table#line_left_table select#userList {
	height: 453px;
	width: 100%;
}

td.strong {
	background-color: #1e88e5 !important;
}

option {
	font-size: 14px !important;
	font-family: "Noto Sans KR";
	/* 	font-family: "NotoSansCJKkr-Light" !important; */
}

table#line_left_table tr:first-child td:hover {
	background-color: #1e88e5;
}

table#line_left_table tr td, table#org_left_table tr td {
	border-right: 1px solid #c8c8c8;
	border-bottom: 1px solid #c8c8c8;
}

table.type_table {
	display:none;
	text-align: center;
	font-size: 14px;
	width: 100%;
	/* 	margin-left: 8px; */
	/* 	margin-right: 8px; */
	padding-right: 8px;
	padding-left: 8px;
	/* 	width: 100px !important; */
}

table.type_table tr:first-child td {
	background-color: #c0dbfc;
	border-top: 2px solid #2b85c1;
}

table.type_table td {
	border-right: 1px solid #c8c8c8;
	border-left: 1px solid #c8c8c8;
	border-bottom: 1px solid #c8c8c8;
	height: 28px;
	line-height: 28px;
}

table.type_table td label {
	position: relative;
	right: 3px;
}

table.line_btn_table {
/* 	display: none; */
	text-align: center;
	font-size: 14px;
	width: 100%;
	/* 	margin-left: 8px; */
	/* 	margin-right: 8px; */
	padding-right: 8px;
	padding-left: 8px;
	/* 	width: 100px !important; */
}

table.line_btn_table tr:first-child td {
	/* 	background-color: #c0dbfc; */
	/* 	border-top: 2px solid #2b85c1; */
	
}

table.line_btn_table td {
	border-right: 1px solid #c8c8c8;
	border-left: 1px solid #c8c8c8;
	border-bottom: 1px solid #c8c8c8;
	height: 28px;
	line-height: 28px;
}

table.line_btn_table td label {
	position: relative;
	right: 3px;
}

div.line_layer_view {
	width: 100%;
	height: 150px;
	/* 	overflow: hidden; */
	border-bottom: 1px solid #c8c8c8;
	border-left: 1px solid #c8c8c8;
	border-right: 1px solid #c8c8c8;
	margin-bottom: 4px;
}

table.line_table_in {
	/* 	border-top: 2px solid #2b85c1; */
	width: 100%;
	/* 	border-bottom: 1px solid #c8c8c8; */
}

table.app_layer_table {
	width: 100%;
}

table.line_table_in th {
	border-top: 2px solid #2b85c1;
	z-index: 1000;
	height: 28px;
	line-height: 28px;
	background-color: #e0f0fd;
	font-size: 14px;
	border-right: 1px solid #c8c8c8;
	height: 28px;
}

table.line_table_in th:last-child {
	border-right: 1px solid white !important;
}

table.line_table_in td {
	/* 	z-index: 10; */
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	text-align: center;
	/* 	border-right: 1px solid #c8c8c8; */
	border-top: 1px solid #c8c8c8;
}

table.line_table_in tr:last-child td {
	/* 	border-bottom: 1px solid #c8c8c8; */
	
}

td.app_nodata_icon {
	height: 110px !important;
	border-bottom: none !important;
	font-size: 15px !important;
}

td.app_nodata_icon a.axi-info-outline {
	font-size: 40px;
}

td.app_nodata_icon span {
	display: inline-block;
	position: relative;
	bottom: 10px;
	color: #a0a0a0;
/* 	font-weight: bold !important; */
}

tr#appTr:last-child td {
	border-bottom: 1px solid #c8c8c8;
}

i.deptIcon {
	font-size: 25px;
	color: blue;
}

span.deptNameView {
	font-size: 14px;
	position: relative;
	bottom: 5px;
	left: 4px;
}

td.deptTd {
	padding-bottom: 1px !important;
	border-left: none !important;
	border-right: none !important;
}

table.selectTable {
	display: none;
}