@charset "UTF-8";

/** 검색 테이블 CSS **/
table.search-table {
	width: 100%;
	border-spacing: 0;
	border-top: 2px solid #86bff9;
	border-collapse: collapse;
	font-size: 12px;
}

table.search-table th {
	background-color: #f2f2f2;
	height: 30px;
	border-bottom: 1px solid #a6a6a6;
	border-left: 1px solid #a6a6a6;
	padding-bottom: 4px;
	max-width: 130px;
	min-width: 130px;
	width: 130px;
}

table.search-table td {
	height: 30px;
	border-bottom: 1px solid #a6a6a6;
	border-left: 1px solid #a6a6a6;
	border-right: 1px solid #a6a6a6;
	text-indent: 5px;
}

/** 버튼 테이블 CSS **/
table.button-table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	font-size: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
}

/** TD 태그 CSS **/
td.left {
	text-align: left;
}

td.right {
	text-align: right;
}

td.indent5 {
	text-indent: 5px;
}

td.indent10 {
	text-indent: 10px;
}

td.underline {
	text-decoration: underline;
	color: blue !important;
	cursor: pointer;
}

/** 텍스트 박스 사이즈 CSS **/
input[type=text].width-100 {
	width: 100px;
}

input[type=text].width-200 {
	width: 200px;
}

input[type=text].width-300 {
	width: 300px;
}

input[type=text].width-400 {
	width: 400px;
}

input[type=text].width-500 {
	width: 500px;
}

/** 버튼 꾸밈 CSS **/
input[type="button"] {
	display: inline-block;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	height: 24px;
	color: white;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 26px !important;
	-webkit-line-height: 26px !important;
	padding: 0px 10px 25px 10px;
	border: 1px solid #00c192;
	background: #00c192;
}

input[type="button"].red {
	display: inline-block;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	height: 24px;
	color: white;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 20px;
	padding: 0px 10px 25px 10px;
	border: 1px solid #00c192;
	background: #ff5555;
}

input[type="button"].blue {
	display: inline-block;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	height: 24px;
	color: white;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 20px;
	padding: 0px 10px 25px 10px;
	border: 1px solid #00c192;
	background: #3f3ff1;
}

input[type="button"].orange {
	display: inline-block;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	height: 24px;
	color: white;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 20px;
	padding: 0px 10px 25px 10px;
	border: 1px solid #00c192;
	background: #ff7f00;
}

/** 로딩 레이어 CSS **/
div#loading {
	z-index: 999999;
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/** 등록 테이블 CSS **/
table.create-table {
	width: 100%;
	border-spacing: 0;
	border-top: 2px solid #86bff9;
	border-collapse: collapse;
	font-size: 12px;
}

table.create-table th {
	background-color: #f2f2f2;
	height: 30px;
	border-bottom: 1px solid #a6a6a6;
	border-left: 1px solid #a6a6a6;
	padding-bottom: 4px;
}

table.create-table td {
	height: 30px;
	border-bottom: 1px solid #a6a6a6;
	border-left: 1px solid #a6a6a6;
	border-right: 1px solid #a6a6a6;
}

table.create-table th.req {
	color: red;
	font-weight: 800;
}


table.create-table textarea {
	width: calc(100% - 15px);
	border: 1px solid #a6a6a6;
	margin-top: 3px;
	font-size: 14px;
	font-family: inherit;
}

/** textarea box CSS **/
textarea {
	resize: none;
}

/** select box CSS **/
select.width-100 {
	width: 100px;
}

select.width-200 {
	width: 200px;
}

select.width-300 {
	width: 300px;
}

/** upload queue box CSS **/
#uploadQueueBox {
	width: calc(100% - 15px);
	margin: 3px 5px 3px 5px;
}

#secondary_layer {
	margin-top: 3px;
}

/** anchor CSS **/
a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: blue;
}