table.sortable-table {
	/*     border: thin #ccc solid; */
	/*     margin: 1em; */
	/*     border-collapse: collapse; */
	
}

table.indexed {
	counter-reset: rowNumber;
}

table.indexed tr.indexed {
	counter-increment: rowNumber;
}

table.indexed tr.indexed td.indexed span::before {
	content: counter(rowNumber);
}

table.sortable-table th {
	/*     padding-left: 26px; */
	/*     background-color: #ddd; */
	
}

table.sortable-table th.ascending, table.sortable-table th.descending {
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: center;
}

table.sortable-table th.ascending {
	/* 	background-image: url(./../img/icons/icon-arrow-down.svg); */
	
}

table.sortable-table th.descending {
/* 	background-image: url(./../img/icons/icon-arrow-up.svg); */
}

table.sortable-table tr.highlight-row {
	/*     background-color: paleturquoise; */
	
}

table.sortable-table tr td, table.sortable-table tr th {
	/*     border: thin #ccc solid; */
	/*     padding: 0.5em; */
	
}

/* ascending: ascending sort */
/* is-date: sort by date */
/* case-sensitive: case sensitive */
/* is-number: sort by number */
/* no-sort: exclude the column */